.detail-service-container {
    
    .description-service {
        background-color: white !important;
        padding: 10px;
        margin: 15px 0;

       h1, h2, h3 {
           font-size: 16px;
           font-weight: 600;
       }
        
    }

    .search-se-staff {
        
        .search-staff-location{
            height: 30px;
            padding: 5px 8px;
            border: none;
            outline: none;
            border-radius: 4px;
            cursor: pointer;
        }
    }

    .detail-service-body {
        padding: 0 180px;
        background: #eee;
        display: flex;
        flex-direction: column;
    }

    .each-staff {
        display: flex;
        width: 100%;
        min-height: 300px;
        margin: 15px 0;
        padding: 10px;

        background-color: #fff;
        box-shadow: 0 1px 6px #20212447;
        border-radius: 8px;

        .dt-content-left {
            width: 50%;
            border-right: 1px solid #ddd;

            .profile-staff-container {
                .down {
                    padding: 0px 10px;
                }
            }
        }

        .dt-content-right {
            width: 50%;
            padding: 10px;

            .staff-schedule {

            }

            .staff-extra-infor {
                border-top: 2px solid #ddd;
                margin-top: 10px;
                padding-top: 10px;

                .staff-extra-infor-container {
                    padding-left: 0 !important;
                }
            }
        }
    }
}