.verify-email-container {

    .infor-booking {
        font-size: 25px;
        font-weight: 600;
        margin-top: 50px;
        text-align: center;
        text-transform: uppercase;
        color: rgb(2, 2, 164);
    }
}