.title-welcome {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    color: #0202b3;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 15px;
}

.wecome-logo {
    .logo-img {
        width: 50%;
        display: block;
        margin-left: 490px;
        margin-right: auto;
    }
}