.profile-staff-container {

    .intro-staff {
        display: flex;

        .content-left {
            width        : 20%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width        : 80px;
            height       : 80px;
            border-radius: 50%;
        }

        .content-right {
            width         : calc(100% - 80px);
            display       : flex;
            flex-direction: column;
            padding-left: 10px;

            .up {
                font-size  : 17px;
                font-weight: 600;
            }

            .down {
                margin-top: 10px;
                text-align: justify;
            }
        }
    }

    .price {
        font-weight: 600;
        font-style: italic;
        padding: 10px 0px;
    }
}