.manage-schedule-container {

    .m-s-title {
        text-transform: uppercase;
        font-size     : 20px;
        font-weight   : bold;
        color         : rgb(2, 2, 179);
        text-align    : center;
        margin-top    : 15px;
        margin-bottom : 15px;
    }

    .pick-hour-container {
        padding-top   : 20px;
        padding-bottom: 20px;
        display       : flex;
        gap           : 20px;
        flex-wrap     : wrap;

        button {
            padding: 5px 44px;
            border : 1px solid gray;
            min-width: 200px
        }
    }

    .btn-schedule {
        &.active {
            background-color: orange;
        }
    }

    .btn-save-schedule {
        margin-top: 20px;
    }

    .hide {
        display: none;
    }
}